<!doctype html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>健身社交平台</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<!--轮播图 开始 -->
<div class="main_banner">
	<div class="main_banner_wrap">
		<canvas id="myCanvas" width="150" height="150"></canvas>
		<div class="main_banner_box" id="m_box">
			<a href="javascript:void(0)" class="banner_btn js_pre">
				<span class="banner_btn_arrow"><i></i></span>
			</a>
			<a href="javascript:void(0)" class="banner_btn btn_next js_next">
				<span class="banner_btn_arrow"><i></i></span>
			</a>
			<ul>
				<li id="imgCard0">
					<a href=""><span style="opacity:0;"></span></a>
					<img src="{{url_for('static',filename='video_image/a1.jpg')}}" alt="">
					<p style="bottom:0">新手必看！深蹲的注意事项，避免受伤风险</p>
				</li>
				<li id="imgCard1">
					<a href=""><span style="opacity:0.4;"></span></a>
					<img src="{{url_for('static',filename='video_image/a5.jpg')}}" alt="">
					<p>只需三十天彻底改变你的身型，加油吧！</p>
				</li>
				<li id="imgCard2">
					<a href=""><span style="opacity:0.4;" ></span></a>
					<img src="{{url_for('static',filename='video_image/a4.jpg')}}" alt="">
					<p>完美俯卧撑训练计划（3种水平都安排！）</p>
				</li>
				<li id="imgCard3">
					<a href=""><span style="opacity:0.4;"></span></a>
					<img src="{{url_for('static',filename='video_image/a7.jpg')}}" alt="">
					<p>健身教练教你正确的深蹲姿势,加油吧</p>
				</li>
				<li id="imgCard4">
					<a href=""><span style="opacity:0.4;"></span></a>
					<img src="{{url_for('static',filename='video_image/a3.jpg')}}" alt="">
					<p>如何让你的腹肌在最短时间内暴增？</p>
				</li>
			</ul>
			<!--火狐倒影图层-->
			<p id="rflt"></p>
			<!--火狐倒影图层-->
		</div>
		<!--序列号按钮-->
		<div class="btn_list">
			<span class="curr"></span><span></span><span></span><span></span><span></span>
		</div>
	</div>

</div>
<!--轮播图 结束 -->

<script type="text/javascript" src="{{url_for('static',filename='jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>

</body>
