{% macro page(data, url, p) %}
{% if data %}
<ul class="pagination pagination-sm no-margin pull-right">
    <li><a href="{{url_for(url, page=1)}}?videotype={{ p['videotype']}}&watchnum={{ p['watchnum'] }}&collectnum={{ p['collectnum'] }}">首页</a></li>
    {% if data.has_prev %}
    <li><a href="{{url_for(url, page=data.prev_num)}}?videotype={{ p['videotype']}}&watchnum={{ p['watchnum'] }}&collectnum={{ p['collectnum'] }}">上一页</a></li>
    {% else%}
    <li class="disabled"><a href="#">上一页</a></li>
    {% endif %}
 
    {% for x in data.iter_pages() %}
        {% if x == data.page %}
        <li class="active"><a href="#">{{x}}</a></li>
        {% else %}
        <li><a href="{{url_for(url, page=x)}}?videotype={{ p['videotype']}}&watchnum={{ p['watchnum'] }}&collectnum={{ p['collectnum'] }}">{{x}}</a></li>
        {% endif %}
    {% endfor %}
 
    {% if data.has_next %}
    <li><a href="{{url_for(url, page=data.next_num)}}?videotype={{ p['videotype']}}&watchnum={{ p['watchnum'] }}&collectnum={{ p['collectnum'] }}">下一页</a></li>
    {% else%}
    <li class="disabled"><a href="#">下一页</a></li>
    {% endif %}
    <li><a href="{{url_for(url, page=data.pages)}}?videotype={{ p['videotype']}}&watchnum={{ p['watchnum'] }}&collectnum={{ p['collectnum'] }}">尾页</a></li>
</ul>
{% endif %}
{% endmacro %}